{% load static %}
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@0;1&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <p>Sign in to your account.</p>
        <div class="form-container">
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
            </form>
        </div>
        <div class="register-container">
            <p class="titillium-web-regular-italic">Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
            <p class="titillium-web-regular-italic"><a href="{% url 'home' %}">Take me back home</a>.</p>
        </div>
    </div>
</body>
</html>