html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F9D5A7;
    font-family: "Titillium Web", sans-serif;
}

.titillium-web-regular {
    font-weight: 400;
    font-style: normal;
}

.titillium-web-regular-italic {
    font-weight: 400;
    font-style: italic;
}

h1, h2, h3 {
    text-align: center;
    font-weight: 400;
}

h1 {
    padding-top: 30px;
    font-size: 2.5em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    min-height: calc(100vh - 40px);
    box-sizing: border-box;
    margin-top: 10%;
}

.landing-menu {
    list-style-type: none;
    padding: 30px;
    text-align: center;
    border: 5px solid darkblue;
    background-color: #90AACB;
    width: 80%;
    border-radius: 15px;
}

.landing-menu-buttons {
    background-color: #90AACB;
}

.navbar {
    background-color: #FFB085;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.footer-container {
    list-style-type: none; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-color: #FFB085; 
    font-size: 14pt;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000;
}