{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fudge Buses{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <ul class="ul-nav">
            <li><a href="{% url 'profile' %}">Home</a></li>
            <li><a href="{% url 'user_bus_report' %}">Bus Reports</a></li>
            <li><a href="{% url 'user_bus_report_history' %}">Bus Report History</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <!-- Superuser-only navigation bar -->
            {% if user.is_authenticated and user.is_superuser %}
            <h3>Admin Panel</h3>
            <li><a href="{% url 'bus_info_list' %}">Bus Information</a></li>
            <li><a href="{% url 'bus_add' %}">Add Bus Route</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer-container">
        <p>&copy; 2024 Charles Mould. All rights reserved.</p>
    </footer>
</body>
</html>