{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fudge Buses</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container"><!--Landing page guest menu-->
        <H1>FudgeBuses</H1>
        <ul class="main">
            <li>
                <a class="li-landing" href="{% url 'login' %}"><span>Login</span></a>
            </li>
            <li>
                <a class="li-landing" href="{% url 'register' %}"><span>Create Account</span></a>
            </li>
            <li>
                <a class="li-landing" href="{% url 'about' %}"><span>About</span></a>
            </li>
        </ul>
    </div>
</body>
</html>