{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <H1>FUDGE BUSES</H1>
    </div>
    <div><!--Landing page guest menu-->
        <ul class="" >
            <li>
                <a class="" href="{% url 'login' %}"><span>Login</span></a>
            </li>
            <li>
                <a class="" href="{% url 'register' %}"><span>Create Account</span></a>
            </li>
            <li>
                <a class="" href="#"><span>About</span></a>
            </li>
        </ul>
    </div>
</body>
</html>