{% extends 'base.html' %}

{% block title %}Report a Bus{% endblock %}

{% block content %}
<h1>Report a Bus</h1>
<p>This is the homepage content.</p>
<div>
    <table>
        <tr>
            <th>Bus Status</th>
            <th>Submitted On</th>
            <th>Actions</th>
        </tr>
        {% for report in bus_reports %}
        <tr>
            <td>{{ report.bus_status }}</td>
            <td>{{ report.bus_report_date }}</td>
            <td>
                <a href="{% url 'edit_bus_report' report.id %}">Edit</a>
                <a href="{% url 'delete_bus_report' report.id %}">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No reports found.</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}