<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Information</title>
</head>
<body>

    <h1>Bus Information List</h1>


    <ul>
        {% for bus_info in bus_infos %}
            <li>
                <strong>Bus Company:</strong> {{ bus_info.bus_company }} <br>
                <strong>Bus Number:</strong> {{ bus_info.bus_number }}
    
                <h3>Stops:</h3>
                <ul>
                    {% for stop in bus_info.stops.all %}
                        <li>
                            <strong>Bus Stop:</strong> {{ stop.bus_stop }} <br>
                            <strong>Time:</strong> {{ stop.bus_time }}
                        </li>
                    {% empty %}
                        <li>No stops available for this bus.</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

</body>
</html>
