<!-- user bus report page -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Report a Bus{% endblock %}


{% block content %}
<h1>Report a Bus</h1>
<div class="container">
    <p> Make a report for a bus that is delayed, cancelled or report that it is on time</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <div id="delayTimeContainer" style="display:none;">
            {{ form.bus_delay_time.label_tag }} {{ form.bus_delay_time }}
        </div>

        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}